---
import Layout from '../layouts/Layout.astro';
import ProductText from '../components/ProductText.astro';
import { bases, products } from '../data/products';
---

<Layout title="Designs" description="The artist is mightier than the soldier, for art scales where war does not, and he who changes hearts and minds shapes the world.">
  <div class="products">
    {products.map((product) => (
      <div class="product">
        <a href={`/designs/${product.slug}`}>
          <div class="product-image"></div>
        </a>
        <ProductText class="product-text" title={product.title} baseName={bases[product.base].name} price={bases[product.base].price} />
      </div>
    ))}
  </div>
</Layout>

<style>
  /* One Product per Row, Width : Content in Golden Ratio. */
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 27.68vw;
    row-gap: 17.09vw;
  }

  .product {
    width: 44.73vw;
  }

  .product-image {
    width: 100%;
    height: 44.73vw;
    background: #eee;
  }

  .product :global(.product-text) {
    margin-top: 24px;
  }

  /* Two Products per Row, Width : Margin in Golden Ratio. */
  @media (min-width: 768px) {
    .products {
      column-gap: 14.59vw;
      row-gap: 9.02vw;
    }

    .product {
      width: 23.61vw;
    }

    .product-image {
      height: 23.61vw;
    }
  }

  /* Two Products per Row */
  @media (min-width: 1024px) {
    .products {
      column-gap: 11.80vw;
      row-gap: 7.29vw;
    }

    .product {
      width: 19.09vw;
    }

    .product-image {
      height: 19.09vw;
    }
  }

  /* Three Products per Row */
  @media (min-width: 1536px) {
    .products {
      column-gap: 7.29vw;
      row-gap: 4.51vw;
    }

    .product {
      width: 11.80vw;
    }

    .product-image {
      height: 11.80vw;
    }
  }
</style>
