---
const pathname = Astro.url.pathname === '/' ? '/' : Astro.url.pathname.replace(/\/$/, '');

const links = [
  { label: "Home", href: "/" },
  { label: "Writings", href: "/writings" },
  { label: "Design", href: "/design" },
];
---

<header>
  {links.map((link) => (
    <a href={link.href} class={pathname === link.href ? "active" : ""}>
      {link.label}
    </a>
  ))}
</header>

<style>
  header {
    height: 64px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  a {
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }

  a.active {
    text-decoration: underline;
  }

</style>
