---
const pathname = Astro.url.pathname;

const links = [
  { label: "Home", href: "/" },
  { label: "Writings", href: "/writings" },
];
---

<header>
  <div class="nav">
    {links.map((link) => (
      <a href={link.href} class={pathname === link.href ? "active" : ""}>
        {link.label}
      </a>
    ))}

  </div>
</header>

<style>
  header {
    height: 64px;
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    gap: 24px;
  }

  a {
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }

  a.active {
    text-decoration: underline;
  }

</style>
